CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_IMAGEOPT=y
# CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=y
# CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_luci-app-cifsd=y
# CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-ngrokc=y
# CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=y
# CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_mosquitto-nossl=y
CONFIG_PACKAGE_zoneinfo-asia=y
# CONFIG_FEED_helloworld is not set
# CONFIG_FEED_ngrok is not set
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-nlbwmon is not set
# CONFIG_PACKAGE_luci-app-ramfree is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA is not set
# CONFIG_PACKAGE_xray-core is not set
